@media (min-width: 992px) {
  .logo {
    z-index:100;
    position:absolute;
    top:20px;
    /*float:left;*/
    left:20px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .logo {
    z-index:100;
    position:absolute;
    top:10px;
    /*float:left;*/
    left:20px;
  }
}

.hoverBlue:hover{
  color: blue;
}
.pulseButton {
  animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulseButton {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
}

.hidden {
  display: none;
}
.g-recaptcha{
   margin: 15px auto !important;
   width: auto !important;
   height: auto !important;
   text-align: -webkit-center;
   text-align: -moz-center;
   text-align: -o-center;
   text-align: -ms-center;
}


@media (max-width: 576px) {
  .logo {
    z-index:100;
    position:absolute;
    top:5px;
    /*float:left;*/
    left:5px;
  }
}

@media (min-width: 992px) {
  .header-container {
    /*margin:0;*/
    margin-top:-30px;
    /*padding-top:200px;*/
    height:140vh;
    /*top:50px;*/
  }
}

@media (max-width: 991px) {
  .header-container {
    margin-top:-5px;
    height:140vh;
  }
}

.nav .navbar-text a {
  color:black;
}

.nav .navbar-nav .nav-link {
  color:black;
}

.nav .navbar-nav .nav-link {
  color:white;
}

.navbar-custom .dropdown-menu {
  background-color:black;
  border-radius:0;
}

.navbar-custom .dropdown-item {
  color:#ffffff;
}

.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
  color:white;
  background-color:rgba(255, 255, 255, .5);
}

@media (max-width: 991px) {
  .navbar-nav .nav-item .nav-link {
    right:25px;
    background-color:rgb(255,255,255);
    display:block;
  }
}

@media (max-width: 991px) {
  .navbar-brand, .navbar-nav {
    right:25px;
    background-color:white;
    display:block;
  }
}
.fontFam {
  font-family: 'Roboto Slab', serif;
}


.shadow {
  text-shadow:rgba(0,0,0,0.5) 3px 3px 2px;
}

.h2, h2 a {
  color:white;
  text-decoration:none;
}
.img-thumbnail {
  width: 225px;
}

.h2, h2:hover {
  color:yellow;
}

a:hover {
  color:#ffc107;
  text-decoration:none;
}
