body {
  font-size: 22px;
}

@media (min-width: 992px) {
  .logo {
    z-index:100;
    position:absolute;
    top:20px;
    /*float:left;*/
    left:20px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .logo {
    z-index:100;
    position:absolute;
    top:12px;
    /*float:left;*/
    left:20px;
  }
}

@media (max-width: 576px) {
  .logo {
    z-index:100;
    position:absolute;
    top:10px;
    /*float:left;*/
    left:5px;
  }
}

@media (min-width: 992px) {
  .index-container {
    /*margin:0;*/
    margin-top:-30px;
    /*padding-top:200px;*/
    /*height:140vh;*/
    /*top:50px;*/
  }
}

@media (min-width: 992px) {
  .header-container {
    /*margin:0;*/
    margin-top:-30px;
    /*padding-top:200px;*/
    /*height:140vh;*/
    /*top:50px;*/
  }
}

@media (max-width: 991px) {
  .index-container {
    margin-top:0px;
    /*height:140vh;*/
  }
}

@media (max-width: 991px) {
  .header-container {
    margin-top:-5px;
  }
}

.nav .navbar-text a {
  color:black;
}

.nav .navbar-nav .nav-link {
  color:black;
}

.nav .navbar-nav .nav-link {
  color:white;
}

.navbar-custom .dropdown-menu {
  background-color:black;
  border-radius:0;
}

.navbar-custom .dropdown-item {
  color:#ffffff;
}

.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
  color:white;
  background-color:rgba(255, 255, 255, .5);
}

@media (max-width: 991px) {
  .navbar-nav .nav-item .nav-link {
    right:25px;
    background-color:rgb(255,255,255);
    display:block;
  }
}

@media (max-width: 991px) {
  .navbar-brand, .navbar-nav {
    right:25px;
    background-color:white;
    display:block;
  }
}

.shadow {
  text-shadow:rgba(0,0,0,0.5) 3px 3px 2px;
}

.features-blue {
  color:#fff;
  background:linear-gradient(135deg, #545454, #000000);
  background-color:#184e8e;
  padding-bottom:30px;
}

.col-md-6.col-xl-7.imageCol {
  min-height:700px;
}


.feature {
  height:60vh;
  overflow:hidden;
}

.feature-picture {
  height:100%;
  width:100%;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}

.feature:hover > .feature-picture {
  transform:scale(1.1);
}

.feature:hover > .overlay {
  background-color:rgba(0,0,0,0.7);
}

.overlay {
  background-color:rgba(0,0,0,0.2);
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  display:flex;
  opacity:1;
  transition:opacity 0.5s ease;
}
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.lgImage {
  width: 100%;
}
